<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}ParkEase{% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'vehicle_list' %}">ParkEase</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'vehicle_list' %}">Vehicles</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'vehicle_register' %}">Register Vehicle</a></li>
                
                    <form class="d-flex" action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-outline-success" type="submit">Logout</button>
                    </form>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container py-5">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
