{% extends 'base.html' %}

{% block title %}<title>Vehicle Detail - ParkEase</title>{% endblock %}

{% block content %}
<h2>Vehicle Detail</h2>
<table class="table">
    <tr><th>Driver Name</th><td>{{ vehicle.driver_name }}</td></tr>
    <tr><th>Vehicle Type</th><td>{{ vehicle.get_vehicle_type_display }}</td></tr>
    <tr><th>Number Plate</th><td>{{ vehicle.number_plate }}</td></tr>
    <tr><th>Model</th><td>{{ vehicle.vehicle_model }}</td></tr>
    <tr><th>Color</th><td>{{ vehicle.color }}</td></tr>
    <tr><th>Arrival Time</th><td>{{ vehicle.arrival_time|date:"d/m/Y H:i" }}</td></tr>
    <tr><th>Phone</th><td>{{ vehicle.phone_number }}</td></tr>
    {% if vehicle.nin_number %}
    <tr><th>NIN</th><td>{{ vehicle.nin_number }}</td></tr>
    {% endif %}
</table>
<a href="{% url 'vehicle_list' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'sign_out' vehicle.id %}" class="btn btn-warning">Sign Out</a>
{% endblock %}